/*
;          === colour themes ===
; #F0F0F0 white
; #7F7F7F grey
; #F7B801 yellow
; #F18701 orange
; #191919 black
*/

* { all: unset; font-size: 12pt; }


.batterytext {
    color: #122932;
    font-size: 12pt;
    font-weight: bold;
    font-family: "Source Code Pro";
}

.voltext {
    color: #122932;
    font-size: 12pt;
    font-weight: bold;
    font-family: "Source Code Pro";
}

.timetext {
    color: #F7b801;
    font-size: 12pt;
    font-weight: bold;
    font-family: "Source Code Pro";
}

.wifiblock {
    font-size: 12pt;
    font-family: "Source Code Pro";
    background: #7f7f7f;

    border-width: 1.5px;
    border-color: #191919;
    border-radius: 8px;
}

.timeblock {
    font-size: 12pt;
    font-family: "Source Code Pro";
    background: #7f7f7f;

    border-width: 1.5px;
    border-color: #191919;
    border-radius: 8px;
}

.volblock {
    font-size: 12pt;
    font-family: "Source Code Pro";
    background: #7f7f7f;

    border-width: 1.5px;
    border-color: #191919;
    border-radius: 8px;
}

.batteryblock {
    font-size: 12pt;
    font-family: "Source Code Pro";
    background: #7f7f7f;

    border-width: 1.5px;
    border-color: #191919;
    border-radius: 8px;
}

.volcontrol {
    font-size: 12pt;
    font-family: "Source Code Pro";
    background: #7f7f7f;

    border-width: 1.5px;
    border-color: #191919;
    border-style: solid;
    border-radius: 8px;
}

scale trough highlight {
    background-color: #F0F0F0;
    border-radius: 9px;
}

scale trough {
    all: unset;
    background-color: #122932;
    border-radius: 9px;
    min-height: 8px;
    min-width: 50px;

    margin-left: 20px;
    margin-right: 20px;
}
