.bar {
    background: rgb(84,23,75);
    background: radial-gradient(circle, 
                    rgba(84,23,75,1) 0%, 
                    rgba(17,0,68,1) 65%, 
                    rgba(0,0,25,1) 100%);

    border-color: #292339;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
}
.time_window {
    background-color: transparent;
}

.dp-container {
    background-color: black;
    color: white;
}

.timebar {
    font-size: 12pt;
    font-family: "Source Code Pro";

    color: white;
    background-color: black;

    border-radius: 14px;
}

.datebar {
    font-size: 12pt;
    font-family: "Source Code Pro";

    background-color: black;
    color: white;
    
  border-radius: 14px;
}
