* { all: unset; }

.box
{
    background: rgb(149,37,133);
    background: radial-gradient(circle, rgba(84,23,75,1) 0%, rgba(0,0,25,1) 100%);
    
    border: 1.4px solid #1c0e12;
    border-radius: 14px;
    
    padding: 4px;
    margin: 18px;
}

.bar
{
    background: rgb(149,37,133);
    background: radial-gradient(circle, rgba(84,23,75,1) 0%, rgba(0,0,25,1) 100%);

    border: 1.4px solid #1c0e12;
    border-radius: 14px;
    padding: 4px;
}

.default_text
{
    font-size: 12pt;
    font-family: "Source Code Pro";
}
