@define-color pink rgb(245, 194, 231);
@define-color mauve rgb(203, 166, 247);
@define-color maroon rgba(235, 160, 172, 0.8);
@define-color peach rgb(250, 179, 135);
@define-color yellow rgba(249, 226, 175, 1);
@define-color green rgb(166, 227, 161);
@define-color sky rgb(137, 220, 235);
@define-color crust rgb(17, 17, 27);
@define-color mantle rgb(24, 24, 37);
@define-color base rgb(30, 30, 46);
@define-color text rgb(205, 214, 244);
@define-color transparent rgba(0, 0, 0, 0);

@define-color border_color rgba(180, 190, 254, 0.8);	/* lavender */
@define-color module_bg rgba(49, 50, 68, 1);			/* Surface 0 */
@define-color text_color @text;
@define-color text_border @crust;

* { 
	font-size: 18px; 
	font-family: hermit, "Symbols Nerd Font Mono";
	font-weight: bold;	
	color: @text_color;

    /*          SHADOW TEXT
	text-shadow:
		2px  2px 0 @text_border,
		1px -1px 0 @text_border,  
		1px -1px 0 @text_border,
		-1px  1px 0 @text_border,
		1px  1px 0 @text_border;
    */

	/*			DEBUG
	border-style: solid;
	border-width: 6px;
	border-color: rgba(17, 17, 27, 1);
	*/
}

.modules-center, .modules-right, .modules-left {
	border-style: solid;
	border-width: 2.4px;
	border-color: @border_color;

	background-color: @module_bg;
	border-radius: 10px;
}

#battery, #cpu, #memory, #disk, #temperature, #network, #workspaces, #pulseaudio, #window, #backlight {
	border-width: 2.4px;
	border-style: solid;
	border-radius: 10px;

	padding-right: 10px;
	padding-left: 10px;
}

#cpu {
	color: @sky;
	border-color: @sky;
}

#memory {
	color: @green;
	border-color: @green;
}

#disk {
    color: @yellow;
	border-color: @yellow;
}

#temperature{
    color: @mauve;
    border-color: @mauve;
}

#network {
    color: @pink;
	border-color: @pink;
}

#clock {
	color: @text;
	padding-right: 10px;
	padding-left: 10px;
}

#workspaces {
	border-color: @pink;

	padding-right: 5px;
	padding-left: 5px;
}

#workspaces button {
    color: @pink;
    padding: 0 1px;
    box-shadow: none;
}

#workspaces button.persistant {
    color: @pink;
}

#workspaces button.empty {
    color: @yellow;
}

#workspaces button.active {
    color: @green;
    background: @transparent;
    border: @transparent;
}

#workspaces button:hover {
    background: @transparent;
    border: @transparent;
}

.groupaudio {
	border-color: @yellow;
	border-width: 2.4px;
	border-style: solid;
	border-radius: 10px;
}

#window {
    color: @mauve;
    border-color: @mauve;
}

#pulseaudio {
	color: @yellow;
	padding-right: 10px;

	border-color: @yellow;
}

#pulseaudio-slider {
    min-width: 150px;
	padding-right: 10px;
	padding-left: 10px;
}
#pulseaudio-slider trough {
    min-height: 4px;
    background-color: @text;
    border-color: @text;
	border-radius: 25px;
    border-style: solid;
}
#pulseaudio-slider highlight {
    min-height: 4px;
    background-color: @yellow;
    border-color: @yellow;
	border-radius: 25px;
    border-style: solid;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

.groupbat {
	border-color: @green;
	border-width: 2.4px;
	border-style: solid;
	border-radius: 10px;
}
#battery {
    color: @green;
    border-color: @green;
}

#backlight {
    color: @sky;
    border-color: @sky;
}
#backlight-slider {
    min-width: 150px;
	padding-right: 10px;
	padding-left: 10px;
}
#backlight-slider trough {
    min-height: 4px;
    background-color: @text;
    border-color: @text;
	border-radius: 25px;
    border-style: solid;
}
#backlight-slider highlight {
    min-height: 4px;
    background-color: @sky;
    border-color: @sky;
	border-radius: 25px;
    border-style: solid;
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
.grouplight {
	border-color: @sky;
	border-width: 2.4px;
	border-style: solid;
	border-radius: 10px;
}

window#waybar{
	background: none;
	border-color: rgba(249, 226, 175, 0.9);
	border-radius: 10px;
	padding: 0
}
