@define-color maroon rgba(235, 160, 172, 0.8);
@define-color peach rgb(250, 179, 135);
@define-color yellow rgba(249, 226, 175, 1);
@define-color green rgb(166, 227, 161);
@define-color sky rgb(137, 220, 235);
@define-color crust rgb(17, 17, 27);
@define-color mantle rgb(24, 24, 37);
@define-color base rgb(30, 30, 46);
@define-color text rgb(205, 214, 244);

@define-color border_color rgba(180, 190, 254, 0.8);	/* lavender */
@define-color module_bg rgba(49, 50, 68, 0.8);			/* Surface 0 */
@define-color text_color @text;
@define-color text_border @crust;

* { 
	font-size: 15px; 
	font-family: hermit, "Symbols Nerd Font Mono";
	font-weight: bold;	
	text-shadow:
		2px  2px 0 @text_border,
		1px -1px 0 @text_border,  
		1px -1px 0 @text_border,
		-1px  1px 0 @text_border,
		1px  1px 0 @text_border;
	color: @text_color;

	/*			DEBUG
	border-style: solid;
	border-width: 6px;
	border-color: rgba(17, 17, 27, 1);
	*/
}

#cpu, #memory, #clock {
	border-style: solid;
	border-width: 2.4px;
	border-color: @border_color;

	background-color: @module_bg;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
}

#cpu {
	color: @sky;
}

#memory {
	color: @green;
}

#clock {
	color: @text;
}

window#waybar{
	background: none;
	border-color: rgba(249, 226, 175, 0.9);
	border-radius: 10px;
	padding: 0
}
